In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

In [2]:
connection_string = """Driver={SQL Server};
            Server=ASVRDB03;
            Database=CONTROLENERGIA;
            UID=daniel.garcia;
            PWD=Daniel2022*;"""

connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
engine = create_engine(connection_url)
conn= con=engine

In [3]:
prueba_historico = pd.read_sql("Select top 100* from historico_consumos", con=engine)

In [4]:
pa_prom_lect_real = pd.read_sql("Select * from pa_prom_lect_real", conn)

In [5]:
prueba_historico.head(n=5)

,CLAVE,CONSUMO,COD_LECTURA,ESTADO,TARIFA,SECTOR_CONSUMO,SECTOREEH,REGION,MULTIPLICADOR,LIBRO,...,CONTADOR,FECHA_LEC_ACTUAL,FECHA_LEC_ANTERIOR,DIFFDIAS,CICLO_LECTURA,ANOMALIA,DESVIACION,LECTURA,CODIGOANOMALIA,CICLO
0,1.0,64.0,0.0,0.0,201.0,201 BT COMERCIAL MONOFASICO,TEGUCIGALPA,CENTRO SUR,1.0,001003,...,2.006280e+09,2013-12-13,2013-11-15,28.0,NaN,None,None,8001.0,None,1312.0
1,1.0,69.0,0.0,0.0,201.0,201 BT COMERCIAL MONOFASICO,TEGUCIGALPA,CENTRO SUR,1.0,001003,...,2.006280e+09,2014-01-14,2013-12-13,32.0,NaN,None,None,8070.0,None,1401.0
2,1.0,70.0,0.0,0.0,201.0,201 BT COMERCIAL MONOFASICO,TEGUCIGALPA,CENTRO SUR,1.0,001003,...,2.006280e+09,2014-02-14,2014-01-14,31.0,NaN,None,None,8140.0,None,1402.0
3,1.0,59.0,0.0,0.0,201.0,201 BT COMERCIAL MONOFASICO,TEGUCIGALPA,CENTRO SUR,1.0,001003,...,2.006280e+09,2014-03-17,2014-02-14,31.0,NaN,None,None,8199.0,None,1403.0
4,1.0,63.0,0.0,0.0,201.0,201 BT COMERCIAL MONOFASICO,TEGUCIGALPA,CENTRO SUR,1.0,001003,...,2.006280e+09,2014-04-14,2014-03-17,28.0,NaN,None,None,8262.0,None,1404.0

In [ ]:
claves = prueba_historico['CLAVE']
claves

In [20]:
prueba_historico.to_excel("prueba_historico.xlsx")